version: "3.2"

services:
  offerkarma:
    build: .
    command: ./bin/web
    env_file:
      - .env.development
    ports:
      - "9000:3000"
    volumes:
      - type: bind
        source: "."
        target: "/home/app"
        volume:
          nocopy: true
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:9.6.4

  redis:
    image: redis:2.8.12
