<div class="text-center homepage-header p-4 bg-dark text-white">
  <div class="lead">Account</div>
  <div class="small font-weight-light">Manage your offers</div>
  <% if @offers.any? %>
    <div class="text-center mt-3">
      <a class="btn btn-danger" href="<%= new_offer_path %>">Evaluate a new offer</a>
    </div>
  <% end %>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-0">
    <% if @offers.none? %>
      <div class="bg-white p-3 text-center">
        <div class="lead mb-2">
          You haven't submitted any offers yet.
        </div>
        <a class="btn btn-danger" href="<%= new_offer_path %>">Submit your first offer now</a>
      </div>
    <% end %>
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-lg-4 col-md-6 col-12 p-2">
          <div class="border rounded list-group-item-action">
            <a href="<%= offer_path offer.uuid %>" class="list-group-item-action">
              <%= render partial: "offers/offer_list_item", locals: { offer: offer } %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
