<div class="text-center homepage-header p-4 bg-dark text-white">
  <div class="lead">Account</div>
  <div class="small font-weight-light">Manage your offers</div>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-0">

    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-lg-4 col-md-6 col-12 p-2">
          <div class="border rounded list-group-item-action">
            <a href="<%= offer_path offer.id %>" class="list-group-item-action">
              <%= render partial: "offers/offer_list_item", locals: { offer: offer } %>
            </a>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-center">
      <a class="btn btn-danger" href="/offers/new">create a new offer</a>
    </div>

  </div>
</div>
