<div class="text-center homepage-header mb-3 p-4 bg-dark">
	<div class="text-white">
		<div class="lead">
			Welcome back
		</div>
		
		<div class="small font-weight-light">
			Login to manage your offers and provide feedback.
		</div>
	</div>
</div>

<div class="container mt-4 mb-4 clearfix center-box-max-width border p-4 rounded">
	<form action="/login" method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	  <div class="form-group">
  		<label for="email">Email</label>
	    <input name="email" type="email" class="form-control" id="email" aria-describedby="" placeholder="bob@apple.com"/>
		</div>
		
	  <div class="form-group">
  		<label for="password">Password</label>
	    <input name="password" type="password" class="form-control" id="password" aria-describedby="" placeholder="••••••"/>
	    <small>
	  		<a href="/password">Forgot password</a>
	  	</small>
		</div>

	  <button type="submit" class="btn btn-block btn-danger">Login</button>

	  <div class="mt-2">
	  	<div>
	  		New? <a href="/signup">Signup here</a>
	  	</div>
	  
	  </div>
	</form>
</div>