<div class="text-center homepage-header mb-3 p-4 bg-dark">
	<div class="mb-3 text-white">
		<div class="mb-3 lead">
			Unleash offer feedback
		</div>
		
		<div class="small font-weight-light">
			Creating a <span class="text-dark bg-white p-1 font-weight-bold"><span class="text-danger">reffo</span></span> account will allow you to see, vote and comment on existing offers.
		</div>
	</div>
</div>

<div class="container mt-4 mb-4 clearfix">
	<form>
	  <div class="form-group">
	  	<div class="ui-widget">
		    <input type="text" class="form-control" id="email" aria-describedby="" placeholder="Work email address" autofocus/>
		    <small id="emailHelp" class="form-text text-muted">Using your work email will unlock offers from your company. Don't worry it is anonymous.</small>

		  </div>
		 </div>
	  <button type="submit" class="btn btn-primary float-right">Next</button>
	</form>
</div>