<div class="text-center homepage-header p-4 bg-dark">
  <div class="text-white">
    <div class="lead">
      You are now verified <span class="fa fa-check"></span>
    </div>

    <div class="small font-weight-light">
      Thank you for verifying your account!
    </div>
  </div>
</div>

<div class="bg-light p-4">
  <div class="container bg-white p-4 rounded">
    <% unless @user.current_company %>
      <div>
        <div class="font-weight-bold mb-3">Unfortunately we did not detect any company from the email address you used to register with.</div>
        <div>
          Don't worry you can still browse the list of offers we have. The only downside is that you won't be able to see some offers restricted to your company.

          If you wish to be verified with a company, please sign up again using your work email.
        </div>

      </div>
    <% end %>
  </div>
</div>
