<p class="lead text-center">Someone has unlocked your request!</p>

<p>
  <a href="mailto:<%= @referral.referrer.email %>?subject=feedback"><%= @referral.referrer.email %></a> is currently reviewing your profile and should be getting in touch shortly.
</p>

<p class="text-center">
  <%= link_to "I was referred", referral_path(@referral.uuid, referral: { referee_referred_at: -> { DateTime.now } }), method: :put, data: { confirm: "Did you hear from #{@referral.company.display_name}?" }, class: "btn btn-danger" %>
</p>

<% if @referral.unlocked_at < 1.day.ago %>
  <p class="text-center">
    <%= link_to "I was not referred, re-submit", referral_path(@referral.uuid, referral: { referrer_id: nil }), method: :put, data: { confirm: "Are you sure you want to re-submit your referral request?" }, class: "btn btn-danger" %>
  </p>
<% end %>
