<div class="text-center homepage-header p-4 bg-dark">
  <div class="text-white">
    <div class="mb-2 lead">
      Stock Options & RSUs
    </div>

    <div class="small font-weight-light">
      A complex but very important topic
    </div>
  </div>
</div>

<div class="bg-light p-3">
  <div class="container bg-white rounded p-4">
    <div class="text-center">
      <div class="mb-3">
        <span class="badge badge-danger text-white">coming soon</span>
      </div>
      <div>
        <a href="/" class="btn btn-link">Go back</a>
      </div>
    </div>
    <!-- <h1>Introduction</h1>

    <p>Stock options or RSUs are often a big part of your total compensation but are unfortunately as often misunderstood.</p>


    <h1>Options</h1>
    <p></p>

    <h2>Exercise window</h2>
    <p><a href="https://zachholman.com/posts/fuck-your-90-day-exercise-window/" target="_blank">Why 90 days is unfair</a>.</p>

    <h2>Companies with extended exercise window</h2>
    <p>We believe the following companies employee-friendly terms regarding options.</p>

    <p>See the full list <a href="https://github.com/holman/extended-exercise-windows" target="_blank">here</a>.</p>

    <a href="https://blog.wealthfront.com/stock-options-versus-rsu/" title="">Options vs RSUs</a>

    <a href="https://sharespost.com/insights/articles/what-selling-shareholders-should-know/" title="">Selling private stocks</a>

    <h1>RSUs</h1> -->
  </div>
</div>
