<div class="text-center homepage-header p-4 bg-dark">
  <div class="text-white">
    <div class="mb-2 lead">
      Negotiations
    </div>

    <div class="small font-weight-light">
      How to get the most out of your offers
    </div>
  </div>
</div>


<div class="bg-light p-3">
  <div class="container bg-white rounded p-4">
    <div class="text-center">
      <div class="mb-3">
        <span class="badge badge-info text-white">coming soon</span>
      </div>
      <div>
        <a href="/" class="btn btn-link">Go back</a>
      </div>
    </div>
  </div>
</div>
