@import '../styles/bootstrap';
@import '../styles/fontawesome';

@-ms-viewport{
  width: device-width;
}

.ui-autocomplete {
  max-width: 400px
}

div.disabled {
  opacity: 0.3;
}

.height-100 {
  height: 100%;
}
