<div class="text-center homepage-header p-4 bg-dark">
  <div class="mb-4 lead">
    <span class="bg-white p-2 font-weight-bold">Need feedback on a job <span class="text-danger">offer</span>?</span>
  </div>
  <div>
    <a class="btn btn-danger" href="/offers/new">Add my offer</a>
  </div>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-0">

    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-lg-4 col-md-6 col-12 p-2">
          <div class="border rounded list-group-item-action">
            <a href="<%= offer_path offer.uuid %>" class="list-group-item-action">
              <%= render partial: "offer_list_item", locals: { offer: offer } %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
