<div class="text-center homepage-header mb-3 p-4 bg-dark">
	<div class="mb-3 text-white">
		<div class="mb-3 lead">
			Need feedback on a job offer?
		</div>
		<div class="mb-4">
			<a class="btn btn-success" href="/offers/new">Submit an offer</a>
		</div>
		<div class="small font-weight-light">
			<span class="text-dark bg-white p-1 font-weight-bold"><span class="text-danger">reffo</span></span>'s anonymous community lets you know if your <span class="text-dark bg-white p-1 font-weight-bold"><span class="text-danger">offer</span></span> is already good or if it has room for negociation.
		</div>
	</div>
</div>

<div class="container">
	<div class="lead mb-3 text-center">Offers waiting for some feedback</div>

	<ul class="featured-offer-list list-group">
		<% @offers.each do |offer| %>
			<a href="<%= offer_path offer.id %>" class="border rounded list-group-item-action mb-3">
				<%= render partial: "offer_list_item", locals: { offer: offer } %>
			</a>
		<% end %>
	</ul>
</div>