<div class="text-center homepage-header p-4 bg-dark">
  <div class="mb-4 lead">
    <span class="bg-white p-2 font-weight-bold">Need feedback on a job <span class="text-danger">offer</span>?</span>
  </div>
  <div>
    <a class="btn btn-danger" href="/offers/new">Evaluate my offer</a>
  </div>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-0">
<!--     <div class="text-center">
      <form class="m-auto form-inline">
        <div class="form-group mr-3 mb-2">
          <input type="text" class="form-control" id="company" placeholder="Company...">
        </div>
        <button type="submit" class="btn btn-danger mb-2">Search</button>
      </form>
    </div>

    <hr/> -->

    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-lg-4 col-md-6 col-12 p-2">
          <div class="border rounded list-group-item-action">
            <a href="<%= offer_path offer.uuid %>" class="list-group-item-action">
              <%= render partial: "offer_list_item", locals: { offer: offer } %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#company').autocomplete({
    minChars: 2,
    source: function(req, res){
      $.getJSON('https://autocomplete.clearbit.com/v1/companies/suggest', { query: req.term }, function(data){ res(data); });
    },
    focus: function(event, ui){
      $('#company').val(ui.item.name);
      return false;
    },
    select: function(event, ui){
      $('#company').val(ui.item.name);
      return false;
    },
    messages: {
      noResults: '',
      results: function() {}
    }
  }).autocomplete('instance')._renderItem = function(ul, item) {
    ul.addClass('list-group')

    return $('<li class="d-flex list-group-item list-group-item-action">')
      .append('<div class="mr-auto"><img src="' + item.logo + '?size=20" class="mr-2" />'+item.name+'</div><div class="ml-auto small text-muted">' + item.domain + '</div>')
      .appendTo(ul);
  };
</script>
