<% if @offer.errors.any? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled">
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @offer do |f| %>
  <%= render "#{@offer.current_step}_step", f: f %>
 <% end %>
