<div class="container mt-4">
	<div class="progress mb-3">
	  <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<div class="text-center lead mb-3">Which company?</div>

	<div>
		<form>
		  <div class="form-group">
		    <input type="text" class="form-control" id="company-name" aria-describedby="comapny-name" placeholder="Company name" autofocus />
		  </div>

		  <button type="submit" class="btn btn-primary">Next</button>
		</form>
	</div>
</div>