<div class="text-center homepage-header mb-3 p-4 bg-dark">
	<div class="mb-2 text-white">
		<div class="mb-2 lead">
			Adding a new <span class="bg-white text-danger font-weight-bold p-1">offer</span>
		</div>
		
		<div class="small font-weight-light">
			Enter details about this position
		</div>
	</div>
</div>

<div class="container mt-3">
	
	<div class="progress mb-4">
	  <div class="progress-bar bg-danger" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<div class="clearfix">
		<form>
		  <div class="form-group">
		  	<div class="ui-widget">
		  		<label for="company">Company name</label>
			    <input name="company" type="text" class="form-control" id="company" aria-describedby="company" placeholder="Google" autofocus/>
			  </div>
			</div>
				
		  <div class="form-group">
		  	  <label for="location">Location</label>
			   <input name="location" type="text" class="form-control" id="location" aria-describedby="location" placeholder="San Francisco"/>
			</div>	

		  <div class="form-group">
		  	  <label for="position">Job position</label>
			   <input name="position" type="text" class="form-control" id="position" aria-describedby="position" placeholder="Software Engineer"/>
			</div>	

		  <div class="form-group">
		  	<label for="yoe">Years of experience (yoe)</label>
			  <input name="yoe" type="number" class="form-control" id="yoe" aria-describedby="position" placeholder="2"/>
			</div>

		  <button type="submit" class="btn btn-primary float-right">Next</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	$('#company').autocomplete({
    minLength: 2,
    source: function(request, response) {
    	url = 'https://autocomplete.clearbit.com/v1/companies/suggest'
    	query = { query: request.term }
      $.getJSON(url, query, response);
    },
    select: function( event, ui ) {
    	console.log(ui.item.name)
    	$('#company').val("" + ui.item.name)
    },
  }).autocomplete( 'instance' )._renderItem = function( ul, item ) {
    return $( '<li>' ).append( '<div>' + item.name + ' - ' + item.domain + '</div>' ).appendTo( ul );
  };

</script>