@import "bootstrap";
@import "companies";
@import "offers";
@import "jquery-ui";

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@-ms-viewport{
  width: device-width;
}

.center-box-max-width {
  margin: 0 auto;
  max-width: 600px;
}

.list-group-item-action {
  background-color: white;
}

.underline {
  text-decoration: underline;
}

.text-ghost {
  color: #ccc;
}

.flex-even {
  flex: 1;
}
