@import 'bootstrap/dist/css/bootstrap';
@import "companies";
@import "offers";

@-ms-viewport{
  width: device-width;
}

.center-box-max-width {
  margin: 0 auto;
  max-width: 600px;
}

.list-group-item-action {
  background-color: white;
}

.underline {
  text-decoration: underline;
}

.text-ghost {
  color: #ccc;
}

.flex-even {
  flex: 1;
}

.ui-autocomplete {
  max-width: 400px
}

div.disabled {
  opacity: 0.3;
}

.height-100 {
  height: 100%;
}
