<div class="container bg-white p-4 rounded text-center">
  <div class="lead mb-12">
    Your email has been unsubscribed from reffo email lists.
  </div>

  <a href="<%= root_url %>" class="btn btn-danger">Go back home</a>
</div>
